PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DBNAME?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DBNAME?sslmode=require"
REDIS_URL="rediss://default:PASSWORD@HOST.upstash.io:6379"
CACHE_TTL_SECONDS=60
CORS_ORIGIN=http://localhost:3000
